body{
    background-color: black;
   
}
section{
    display: flex;
    flex-direction: column;
   

}
#img-two{
   max-width: 25%;
   margin-left: auto;
   margin-right: auto;
}
#img-one{
    margin-top: 30px;
   max-width: 20%;

    margin-left: auto;
    margin-right: 20px;
}
.container{
    border: 1px solid black;
    max-width: 30%;
    min-height: 75vh;
    background: conic-gradient(from 180deg at 50% 50%, #80BF82 0deg, #D9F2DA 193.12deg, #80BF82 360deg);
    border-radius: 10px;
    padding: 0px;
    font-family: 'Inter'; 
    font-family: 'Inter';
    margin-left: auto;
    margin-right:auto ;
    text-align: center;
    display: grid;
    margin-top: 5%;
    
    

    }
   
  h1{
    font-size: 45px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  nav{
    background-color: #183219; 
    min-height: 5vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    max-width: 100%;
   padding: 5px 0px

}
  a.nav-bar{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    font-family: 'Inder';
    font-style: normal;
    font-weight: bolder;
   
    margin: 0px auto;
    padding: 5px 15px;
   
    color: aliceblue;
    
    max-width: fit-content;
    

}
a.nav-bar:hover{
    opacity: 1;
    background-color: #80BF82;
    color: black;
    border-radius: 5px;
    
    }
  a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    font-family: 'Inder';
    font-style: normal;
    font-weight: bolder;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;

    margin: 10px auto;
    padding: 10px 15px;
    display: block;
    color: aliceblue;
    background-color: #183219; 
    max-width: fit-content;
    border: 2px solid #183219; 
    
}

a.button:hover{
opacity: 1;
background-color: #80BF82;
color: black;
}
@media screen and (max-width:700px) {
    .container{
        max-width: 90%;
    }
    h1{
    font-size: 45px;

    }
  a.nav-bar{
    padding: 0px 10px;
  }
  nav{
    padding-bottom: 0px;
  }
   }